[class*="col-"] {
    padding-bottom: 0;
    padding-top: 0;
}

.nopadding {
    margin: 4px;
    padding: 0;
}

.progress {
    margin-bottom: 0 !important;
}

.list-group-item {
    position: relative;
}

.list-group-item .fa-window-restore {
    bottom: auto;
    left: auto;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.list-group-item-warning #state::after {
    content: '\f04c';
}