<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{title}}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/global.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid">
    {{#flashes}}
        {{#messages}}
            <div class="alert alert-{{type}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                {{.}}
            </div>
        {{/messages}}
    {{/flashes}}

    {{#milestones}}
        <div class="panel panel-primary mb-3 p-3 border border-primary rounded">
            <div class="panel-heading">
                <p class="panel-title">
                    <a href="{{url}}">
                        {{milestone}}
                        <span class="fa fa-window-restore float-right" aria-hidden="true"></span>
                    </a>
                </p>
            </div>
            <div class="panel-body small">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="list-group">
                            {{#queued}}
                                <a href="{{url}}" class="list-group-item list-group-item-danger">
                                    {{title}}
                                    <span class="fa fa-question-circle fa-lg" aria-hidden="true"></span>
                                    <span class="fa fa-window-restore" aria-hidden="true"></span>

                                    {{#progress}}
                                        <div class="progress mt-3">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0"
                                                 aria-valuemax="100" style="min-width: 2em; width: {{percent}}%;">{{percent}}%
                                            </div>
                                        </div>
                                    {{/progress}}
                                </a>
                            {{/queued}}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="list-group">
                            {{#active}}
                                <a href="{{url}}" class="list-group-item {{#paused}}list-group-item-warning {{/paused}} {{^paused}}list-group-item-info {{/paused}}">
                                    <img src="{{assignee}}" alt="" class="img-rounded" width="16" height="16"/>&nbsp;
                                    {{title}}
                                    <span id="state" class="fa"></span>
<!--                                    <p class="m-0">-->
<!--                                        <em><small>{{#paused}}[{{.}}] {{/paused}}</small></em>-->
<!--                                    </p>-->
                                    <span class="fa fa-window-restore" aria-hidden="true"></span>

                                    {{#progress}}
                                        <div class="progress mt-3">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0"
                                                 aria-valuemax="100" style="min-width: 2em; width: {{percent}}%;">{{percent}}%
                                            </div>
                                        </div>
                                    {{/progress}}
                                </a>
                            {{/active}}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="list-group">
                            {{#completed}}
                                <a href="{{url}}" class="list-group-item list-group-item-success">
                                    <img src="{{assignee}}" alt="" class="img-rounded" width="16" height="16"/>&nbsp;
                                    <s>{{title}}</s>
                                    <span class="fa fa-window-restore" aria-hidden="true"></span>

                                    {{#progress}}
                                        <div class="progress mt-3">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0"
                                                 aria-valuemax="100" style="min-width: 2em; width: {{percent}}%;">{{percent}}%
                                            </div>
                                        </div>
                                    {{/progress}}
                                </a>
                            {{/completed}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer small">
                {{#progress}}
                    <div class="progress mt-3">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0"
                             aria-valuemax="100" style="min-width: 2em; width: {{percent}}%;">{{percent}}%
                        </div>
                    </div>
                {{/progress}}
            </div>
        </div>
    {{/milestones}}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
</div>
</body>
</html>